.smallSideNav {
    i {
        font-size: 20px;
    }
}

.sideNav {
    li, a {
        width: 100%;
        display: flex;
        align-items: center;
        &.divider {
            height: 1px;
        }
    }
    i {
        padding-right: 5px;
        font-size: 20px;
    }
    .showHide {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }
}